<div>
  <p>
    Soy un Software Engineer con más de 4 años de experiencia desarrollando
    soluciones backend y full-stack escalables. He trabajado con empresas de USA
    y LATAM en proyectos de alto impacto, desde optimizar procesos de
    facturación con IA y AWS para clientes como Apple y PayPal, hasta crear
    experiencias frontend interactivas para marcas como GoPro y Shiseido.
  </p>
</div>
